@model IncUserOrdersVModel
@{
    ViewData["Title"] = $"{"Details-"}{Model.Debtor}{"-Kam-"}{Model.FullName}";
}

<h1>Details</h1>
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.min.css" />
<link rel="stylesheet" href="https://cdn.datatables.net/buttons/1.7.1/css/buttons.dataTables.min.css" />
<br />
<div class="container">
    <div class="row justify-content-lg-center">
        <div class="col-md-12">
            <form>
                <div class="row">
                    <div class="col-md-6">
                        <input type="text" asp-for="@Model.BusinessName" class="form-control" placeholder="First name" style="float: left;text-align: center;border-radius: 60px;" readonly>
                    </div>
                    <div class="col-md-6">
                        <input type="text" asp-for="@Model.Debtor" class="form-control" placeholder="Last name" style="float: left;text-align: center;border-radius: 60px;" readonly>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-md-6">
                        <input type="text" asp-for="@Model.FullName" class="form-control" placeholder="First name" style="float: left;text-align: center;border-radius: 60px;" readonly>
                    </div>
                    <div class="col-md-6">
                        <input type="text" asp-for="@Model.DateLocal" class="form-control" placeholder="Last name" style="float: left;text-align: center;border-radius: 60px;" readonly>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-md-12">
                        <textarea asp-for="@Model.Observations" class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="First name" style="float: left;text-align: center;border-radius: 60px;" readonly></textarea>
                    </div>
                </div>
                <br />
                <div class="form-group row">
                    <div class="col-sm-10">
                        <a asp-action="Index" class="btn btn-outline-secondary" style="border-radius: 60px;"><i class="fa fa-angry"></i>Back To List</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<br />
<div class="container-fluid">
    <div class="row justify-content-lg-center">
        <div class="col-md-12">
            <form>
                <div class="row">
                    <div class="col-md-12">
                        <div class="card border-dark text-center mb-3" style="max-width: 80rem;">
                            <div class="card-header  bg-transparent border-secondary">

                            </div>
                            <div class="card-body text-dark">
                                <h5 class="card-title">Special title treatment</h5>
                                @if (Model.DetailsIncentive.Count == 0)
                                {
                                    <h5>No details added yet</h5>
                                }
                                else
                                {
                                    <table class="display" id="example" style="width:100%">
                                        <thead align="Center">
                                            <tr>
                                                <th>
                                                    @Html.DisplayNameFor(model => model.DetailsIncentive[0].Debtor)
                                                </th>
                                                <th>
                                                    @Html.DisplayNameFor(model => model.DetailsIncentive[0].OrderStatus)
                                                </th>
                                                <th>
                                                    @Html.DisplayNameFor(model => model.DetailsIncentive[0].Price)
                                                </th>
                                                <th>
                                                    @Html.DisplayNameFor(model => model.DetailsIncentive[0].Quantity)
                                                </th>
                                                <th>
                                                    @Html.DisplayNameFor(model => model.DetailsIncentive[0].PayofType)
                                                </th>
                                                <th>
                                                    @Html.DisplayNameFor(model => model.DetailsIncentive[0].DeatilProducts)
                                                </th>
                                                <th>
                                                    @Html.DisplayNameFor(model => model.DetailsIncentive[0].ShippingBranchNo)
                                                </th>
                                                <th>
                                                    @Html.DisplayNameFor(model => model.DetailsIncentive[0].ShippingBranchName)
                                                </th>
                                                <th>
                                                    @Html.DisplayNameFor(model => model.DetailsIncentive[0].OrderCode)
                                                </th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var item in Model.DetailsIncentive)
                                            {
                                                <tr>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.Debtor)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.OrderStatus)
                                                    </td>

                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.Price)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.Quantity)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.PayofType)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.DeatilProducts)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.ShippingBranchNo)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.ShippingBranchName)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.OrderCode)
                                                    </td>
                                                    <td align="center">
                                                    </td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                }
                            </div>
                            <div class="card-footer text-muted bg-transparent border-dark">
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.7.1/js/dataTables.buttons.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.7.1/js/buttons.html5.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.7.1/js/buttons.print.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#example').DataTable({
                "scrollX": true,
                dom: 'Bfrtip',
                buttons: [
                    'excel'
                ],
                "order": [[2, "desc"]],
                "lengthMenu": [[5, 10, 25, 50, -1], [5, 10, 25, 50, "All"]]
            });
        });</script>
}
