@model AddProductViewModel
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer
<div class="form-group">
    <span class="label label-warning">@localizer["Description"]</span>
    <input asp-for="Description" class="form-control" placeholder="@localizer["Description"]" style="float: left; text-align: center; border-radius: 60px;" required />
    <span asp-validation-for="Description" class="text-danger"></span>
</div>
<br />
<div class="form-group">
    <span class="label label-warning">@localizer["ShortDescription"]</span>
    <input asp-for="ShortDescription" class="form-control" placeholder="@localizer["ShortDescription"]" style="float: left; text-align: center; border-radius: 60px;" required />
    <span asp-validation-for="ShortDescription" class="text-danger"></span>
</div>
@*<div class="form-group">
        <label asp-for="CodeKey" class="control-label"></label>
        <input asp-for="CodeKey" class="form-control" placeholder="Code Key" style="float: left; text-align: center; border-radius: 60px;" />
        <span asp-validation-for="CodeKey" class="text-danger"></span>
    </div>*@
<br />
<div class="form-group">
    <span class="label label-warning">@localizer["OraclepId"]</span>
    <input asp-for="OraclepId" class="form-control" placeholder="@localizer["OraclepId"]" style="float: left; text-align: center; border-radius: 60px;" required />
    <span asp-validation-for="OraclepId" class="text-danger"></span>
</div>
<br />
<div class="form-group">
    <span class="label label-warning">@localizer["ValueWithOutTax"]</span>
    <input asp-for="ValueWithOutTax" class="form-control" placeholder="@localizer["ValueWithOutTax"]" style="float: left; text-align: center; border-radius: 60px;" required />
    <span asp-validation-for="ValueWithOutTax" class="text-danger"></span>
</div>
<br />
<br />
<div class="form-group">
    <span class="label label-warning">@localizer["Price"]</span>
    <input asp-for="Price" class="form-control" placeholder="@localizer["Price"]" style="float: left; text-align: center; border-radius: 60px;" required />
    <span asp-validation-for="Price" class="text-danger"></span>
</div>
<br />
<br />
<div class="form-group">
    <span class="label label-warning">@localizer["UnitsInStock"]</span>
    <input asp-for="UnitsInStock" class="form-control" placeholder="@localizer["UnitsInStock"]" style="float: left; text-align: center; border-radius: 60px;" required />
    <span asp-validation-for="UnitsInStock" class="text-danger"></span>
</div>
<br />