@model Products
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer
@{
    ViewData["Title"] = @localizer["DetailProducts"];
}

<div class="card text-center border-danger mb-3" style="max-width: 78rem;">
    <div class="card-header bg-transparent border-secondary"> @localizer["DetailProducts"]</div>
    <div class="card-body text-dark">
        <h5 class="card-title"></h5>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <dl class="dl-horizontal">
                        <dt>
                            @localizer["Description"]
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.Description)
                        </dd>
                        <dt>
                            @localizer["ShortDescription"]
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.ShortDescription)
                        </dd>
                        <dt>
                            @localizer["ValueWithOutTax"]
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.ValueWithOutTax)
                        </dd>
                        <dt>
                            @localizer["Price"]
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.Price)
                        </dd>
                        <dt>
                            @localizer["UnitsInStock"]
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.UnitsInStock)
                        </dd>
                    </dl>
                </div>
            </div>
            <div class="col-sm-6">
                <dl class="dl-horizontal">
                    <dt>
                        @localizer["ProductsType"]
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.ProductsType.Description)
                    </dd>
                    <dt>                        
                        @localizer["Trademarks"]
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Trademarks.Description)
                    </dd>
                    <dt>
                        @localizer["ActivationsType"]
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.ActivationsType.Description)
                    </dd>
                    <dt>
                        @localizer["ActivationsForm"]
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.ActivationsForm.Description)
                    </dd>
                    <dt>
                        @localizer["SimTypes"]
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.SimTypes.Description)
                    </dd>
                </dl>
            </div>
            @*<div class="col-sm-4">
                    <dl class="dl-horizontal">

                    </dl>
                </div>*@
        </div>
        @*<dl class="dl-horizontal">
            </dl>*@
    </div>
    <div class="card-footer bg-transparent border-warning">
        <a asp-action="Edit" asp-route-id="@Model.ProductId" class="btn btn-outline-warning" style="border-radius: 60px;"><i class="fas fa-snowplow"></i> @localizer["Edit"]</a>
        <a asp-action="Index" class="btn btn-outline-secondary" style="border-radius: 60px;"><i class="fas fa-paper-plane"></i> @localizer["BacktoList"]</a>
    </div>
</div>
