@model OnlineOrderCart.Web.Models.EditUserViewModel
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer

<div class="row">
    <div class="col-sm-6">
        <div class="form-group">
            <label class="control-label"> @localizer["Email"]</label>
            <input asp-for="Email" class="form-control" type="email" multiple style="float: left;text-align: center;border-radius: 60px;" placeholder="@localizer["Email"]" required/>
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="form-group">
            <label class="control-label"> @localizer["FirstName"]</label>
            <input asp-for="FirstName" class="form-control" style="float: left;text-align: center;border-radius: 60px;" placeholder="@localizer["FirstName"]" required/>
            <span asp-validation-for="FirstName" class="text-danger"></span>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-6">
        <div class="form-group">
            <label class="control-label">@localizer["LastName1"]</label>
            <input asp-for="LastName1" class="form-control" style="float: left;text-align: center;border-radius: 60px;" placeholder="@localizer["LastName1"]" required/>
            <span asp-validation-for="LastName1" class="text-danger"></span>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="form-group">
            <label class="control-label">@localizer["LastName2"]</label>
            <input asp-for="LastName2" class="form-control" style="float: left;text-align: center;border-radius: 60px;" placeholder="@localizer["LastName2"]" required/>
            <span asp-validation-for="LastName2" class="text-danger"></span>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-6">
        <div class="form-group">
            <label class="control-label">@localizer["EmployeeNumber"]</label>
            <input asp-for="EmployeeNumber" class="form-control" style="float: left;text-align: center;border-radius: 60px;" placeholder="@localizer["EmployeeNumber"]" required/>
            <span asp-validation-for="EmployeeNumber" class="text-danger"></span>
        </div>

    </div>
    <div class="col-sm-6">
        <div class="form-group">
            <label class="control-label">@localizer["ImageFile"]</label>
            <input asp-for="ImageFile" class="form-control" type="file" accept="image/jpeg, image/png" style="float: left;text-align: center;border-radius: 60px;" onchange="ShowImagePreview(this,document.getElementById('imagePreview'))" />
            <span asp-validation-for="ImageFile" class="text-danger"></span>
        </div>
    </div>
</div>


