@model ChangePasswordViewModel
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer
@{ ViewData["Title"] = "Register"; }

<h2>@localizer["ChangePassword"]</h2>

<div class="row">
    <div class="col-md-4 offset-md-4">
        <form method="post" onsubmit="return showPleaseWait();">
            <div asp-validation-summary="ModelOnly"></div>

            <div class="form-group">
                <label asp-for="OldPassword">@localizer["Currentpassword"]</label>
                <input asp-for="OldPassword" type="password" class="form-control" style="float: left;text-align: center;border-radius: 60px;" placeholder="@localizer["OldPassword"]" required autofocus />
                <span asp-validation-for="OldPassword" class="text-warning"></span>
            </div>

            <div class="form-group">
                <label asp-for="NewPassword">@localizer["Newpassword"]</label>
                <input asp-for="NewPassword" type="password" class="form-control" style="float: left;text-align: center;border-radius: 60px;" placeholder="@localizer["Newpassword"]" required />
                <span asp-validation-for="NewPassword" class="text-warning"></span>
            </div>

            <div class="form-group">
                <label asp-for="Confirm">@localizer["Confirm"]</label>
                <input asp-for="Confirm" type="password" class="form-control" v placeholder="@localizer["ConfirmPassword"]" required />
                <span asp-validation-for="Confirm" class="text-warning"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="@localizer["ChangePassword"]" class="btn btn-outline-primary" />style="border-radius: 60px;"><span class="glyphicon glyphicon-floppy-saved"></span>
                <a asp-action="ChangeUser" class="btn btn-outline-success">style="border-radius: 60px;" onclick="return showPleaseWait();"><span class="glyphicon glyphicon-arrow-left"></span>@localizer["Backtouser"]</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
