@model ConfirmPasswordViewModel
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer
@{ ViewData["Title"] = "Register"; }
<div class="container" style="border-radius: 60px;">
    <div class="row">
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
            <form method="post" asp-action="ConfirmPassword">
                <div asp-validation-summary="ModelOnly"></div>
                <flash dismissable="true" />
                <div class="card text-center border-danger mb-3 card-signin my-5" style="max-width: 68rem;">
                    <div class="card-header bg-transparent border-dark">
                        <h2>@localizer["ConfirmPassword"]</h2>
                    </div>
                    <div class="card-body text-dark">
                        <h5 class="card-title"></h5>
                        <div class="form-group">
                            <label asp-for="UserName">@localizer["UserName"]</label>
                            <input asp-for="UserName" type="text" class="form-control" style="float: left;text-align: center;border-radius: 60px;" placeholder=@localizer["UserNameplaceholder"] required />
                            <span asp-validation-for="UserName" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="OldPassword">@localizer["Currentpassword"]</label>
                            <input asp-for="OldPassword" type="password" class="form-control" style="float: left;text-align: center;border-radius: 60px;" placeholder=@localizer["OldPasswordplaceholder"] required />
                            <span asp-validation-for="OldPassword" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="NewPassword">@localizer["NewPassword"]</label>
                            <input asp-for="NewPassword" type="password" class="form-control" style="float: left;text-align: center;border-radius: 60px;" placeholder=@localizer["NewPasswordplaceholder"] required />
                            <span asp-validation-for="NewPassword" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="Confirm">@localizer["Confirm"]</label>
                            <input asp-for="Confirm" type="password" class="form-control" style="float: left;text-align: center;border-radius: 60px;" placeholder=@localizer["ConfirmPasswordplaceholder"] required />
                            <span asp-validation-for="Confirm" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="card-footer bg-transparent border-danger text-muted">
                        <div class="form-group">
                            <input type="submit" value="@localizer["Changepassword"]" class="btn btn-outline-primary btn-block text-uppercase" style="border-radius: 60px;" />
                            <a asp-action="Index" asp-controller="Home" class="btn btn-outline-secondary btn-block text-uppercase" style="border-radius: 60px;"> @localizer["Backtouserplaceholder"]</a>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
