@model IEnumerable<OnlineOrderCart.Web.Models.UserManagerEntity>
@{
    ViewData["Title"] = "Index";
}

<link rel="stylesheet" href="https://cdn.datatables.net/1.10.21/css/dataTables.bootstrap4.min.css" />
<br />
<div class="row">
    <div class="col">
        <h1>Registro Coordinador</h1>
        <flash dismissable="true" />
    </div>
    <div class="col text-right">
        <p>
            <a asp-action="CreateCoordinator" class="btn btn-outline-primary text-uppercase" style="border-radius: 60px;"><img src="~/Image/Nuevo.png" /></a>
        </p>
    </div>
</div>

<table class="table table-responsive-sm  table-hover table-striped" id="MyTable">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.RolName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.KFullName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FullName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsAdmin)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Username)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImageFullPath)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.RolName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.KFullName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FullName)
                </td>
                <th>
                    @Html.DisplayFor(modelItem => item.IsAdmin)
                </th>
                <td>
                    @Html.DisplayFor(modelItem => item.Username)
                </td>
                <td>
                    @*<img src="@item.PicturePath" style="width:80px;height:80px;border-radius:50%" />*@
                    <img src="@Url.Content(item.PicturePath)" alt="Image" style="width:100px;height:100px;max-width: 100%; height: auto; border-radius:50%" />
                </td>
                <td>
                    <a asp-action="EditCoordinator" asp-route-id="@item.KamId" class="btn btn-outline-warning text-uppercase" style="border-radius: 60px;"><img src="~/Image/Editar.png" /></a>
                    <a asp-action="DetailCoordinator" asp-route-id="@item.KamId" class="btn btn-outline-info  text-uppercase" style="border-radius: 60px;"><img src="~/Image/detalles.png" /></a>
                    <button data-id="@item.KamId" class="btn btn-outline-danger text-uppercase deleteItem" data-toggle="modal" data-target="#deleteDialog" style="border-radius: 60px;"><img src="~/Image/Eliminar.png" /></button>
                </td>
            </tr>
        }
    </tbody>
</table>
<partial name="_DeleteDialog" />

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.21/js/dataTables.bootstrap4.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#MyTable').DataTable({
                "order": [[3, "desc"]],
                "lengthMenu": [[5, 10, 25, 50, -1], [5, 10, 25, 50, "All"]]
            });

            // Delete item
            var item_to_delete;

            $('.deleteItem').click((e) => {
                item_to_delete = e.currentTarget.dataset.id;
            });

            $("#btnYesDelete").click(function () {
                window.location.href = '/Coordinator/DeleteRegister/' + item_to_delete;
            });
        });</script>
}


