@model IEnumerable<IndexUserDistEntity>
@{
    ViewData["Title"] = "Email forwarding";
}

<h1>Emailforwarding</h1>
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.25/css/dataTables.bootstrap4.min.css" />
<br />
<flash dismissable="true" />
<table class="table table-responsive-sm  table-hover table-striped" id="MyTable">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.RolName)
            </th>
            <th>
                Kam
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BusinessName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Debtor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PicturePath)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.RolName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.KFullName)
                </td>
                <th>
                    @Html.DisplayFor(modelItem => item.BusinessName)
                </th>
                <td>
                    @Html.DisplayFor(modelItem => item.Debtor)
                </td>
                <td>
                    @if (item.PicturefullPath != null)
                    {
                        @*<img src="@item.PicturefullPath" style="width:80px;height:80px;max-width: 100%; height: auto; border-radius:50%" />*@
                        <img src="@Url.Content(item.PicturefullPath)" alt="Image" style="width:100px;height:100px;max-width: 100%; height: auto; border-radius:50%" />
                    }
                </td>
                <td>
                    <a asp-action="DistributorActivations" asp-route-id="@item.DistributorId" class="btn btn-outline-warning text-uppercase" style="border-radius: 60px;" onclick=" return showPleaseWait()">Activation of the email</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.25/js/dataTables.bootstrap4.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#MyTable').DataTable({
                order: [[3, 'desc'], [0, 'asc']],
                "lengthMenu": [[5, 10, 25, 50, -1], [5, 10, 25, 50, "All"]]
            });
        });</script>
}
