@model OrderDetailsViewModel
@{
    ViewData["Title"] = "Histories";
}
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.min.css" />
<br />
<h1>Histories</h1>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-6">
            <div class="card border-warning mb-3" style="max-width: 60rem;">
                <div class="card-header bg-transparent border-danger"></div>
                <div class="card-body text-danger">
                    <h5 class="card-title">Special History of Normal Orders</h5>
                    @if (Model.OrdersDetails.Count == 0)
                    {
                        <h5>No details added yet</h5>
                    }
                    else
                    {
                        <table class="display" id="example" style="width:100%">
                            <thead>
                                <tr>
                                    <th scope="col"> @Html.DisplayNameFor(model => model.OrdersDetails[0].Debtor)</th>
                                    <th scope="col">@Html.DisplayNameFor(model => model.OrdersDetails[0].BusinessName)</th>
                                    <th scope="col">@Html.DisplayNameFor(model => model.OrdersDetails[0].OrderDate)</th>
                                    <th scope="col">@Html.DisplayNameFor(model => model.OrdersDetails[0].OrderStatus)</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.OrdersDetails)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Debtor)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.BusinessName)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.OrderDate)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.OrderStatus)
                                        </td>
                                        <td>
                                            <a asp-action="Details" asp-route-id="@item.OrderId" class="btn btn-outline-info"  style="border-radius: 60px;"><i class="glyphicon glyphicon-new-window"></i></a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    }
                </div>
                <div class="card-footer bg-transparent border-secondary"></div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card border-secondary mb-3" style="max-width: 60rem;">
                <div class="card-header bg-transparent border-danger"></div>
                <div class="card-body text-secondary">
                    <h5 class="card-title">Special Incentive Order History</h5>
                    @if (Model.IncentiveOrdersDetails.Count == 0)
                    {
                        <h5>No Orders details added yet</h5>
                    }
                    else
                    {
                        <table class="display" id="OneExample" style="width:100%">
                            <thead>
                                <tr>
                                    <th scope="col">@Html.DisplayNameFor(model => model.IncentiveOrdersDetails[0].Debtor)</th>
                                    <th scope="col">@Html.DisplayNameFor(model => model.IncentiveOrdersDetails[0].BusinessName)</th>
                                    <th scope="col">@Html.DisplayNameFor(model => model.IncentiveOrdersDetails[0].OrderDate)</th>
                                    <th scope="col">@Html.DisplayNameFor(model => model.IncentiveOrdersDetails[0].OrderStatus)</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.IncentiveOrdersDetails)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Debtor)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.BusinessName)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.OrderDate)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.OrderStatus)
                                        </td>
                                        <td>
                                            <a asp-action="Details" asp-route-id="@item.IncentiveOrderId" class="btn btn-outline-info"  style="border-radius: 60px;"><i class="glyphicon glyphicon-new-window"></i></a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    }
                </div>
                <div class="card-footer bg-transparent border-secondary"></div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>
    <script src="/js/deleteDialog.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#example').DataTable({
                "language": {
                    "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Spanish.json"
                },
                "order": [[2, "desc"]],
                "lengthMenu": [[5, 10, 25, 50, -1], [5, 10, 25, 50, "All"]]
            });
            $('#OneExample').DataTable({
                "language": {
                    "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Spanish.json"
                },
                "order": [[2, "desc"]],
                "lengthMenu": [[5, 10, 25, 50, -1], [5, 10, 25, 50, "All"]]
            });

        });</script>
}
