@model NewOrderModel
@{
    ViewData["Title"] = "NewOrder";
}
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.min.css" />

<form asp-action="NewOrder" method="post">
    <div asp-validation-summary="All" class="text-danger"></div>
    <flash dismissable="true" />
    <input type="hidden" asp-for="UserId" />
    <input type="hidden" asp-for="BusinessName" />
    <input type="hidden" asp-for="Debtor" />
    <input type="hidden" asp-for="DistributorId" />
    <input type="hidden" asp-for="GenerateDistributor" />
    <div class="card text-center border-danger mb-3" style="max-width: 70rem;">
        <div class="card-header bg-transparent border-secondary">
            <div class="alert alert-secondary">
                <strong>BusinessName :</strong> @Model.BusinessName.
                <hr />
                <strong>Debtor           :</strong> @Model.Debtor.
                <hr />
                <strong>Kam          :</strong> @Model.KamName.
            </div>
        </div>
        <div class="card-body text-dark">
            <h5 class="card-title">
                New Order
            </h5>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <label asp-for="OrderStatusId" class="control-label"></label>
                        <select asp-for="OrderStatusId" asp-items="Model.CombosOrderStatuses" class="form-control" style="border-radius: 60px;" disabled></select>
                        <span asp-validation-for="OrderStatusId" class="text-danger"></span>
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <label asp-for="OrderCode" class="control-label"></label>
                        <input asp-for="OrderCode" class="form-control" placeholder="Order Code" style="border-radius: 60px;" disabled />
                        <span asp-validation-for="OrderCode" class="text-danger"></span>
                    </div>
                </div>
                <div class="w-100"></div>
                <div class="col">
                    <div class="form-group">
                        @*@Html.LabelFor(model => model.Observations, htmlAttributes: new { @class = "control-label col-md-2" })*@
                        <label asp-for="Observations" class="control-label"></label>
                        @*<div class="col-md-10">*@
                        @*@Html.EditorFor(model => model.Observations, new { htmlAttributes = new { @class = "form-control" } })*@
                        <input asp-for="Observations" class="form-control" placeholder="Observations" style="border-radius: 60px;" />
                        @Html.ValidationMessageFor(model => model.Observations, "", new { @class = "text-danger" })
                        @*</div>*@
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <label asp-for="OrderDate" class="control-label"></label>
                        <input asp-for="OrderDate" type="datetime-local" class="form-control" style="border-radius: 60px;" />
                        <span asp-validation-for="OrderDate" class="text-danger"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer bg-transparent border-danger text-muted">
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <button type="submit" class="btn btn-outline-primary" style="border-radius: 60px;">
                        <span class="glyphicon glyphicon-edit"></span> Save Orders
                    </button>

                    @*<input type="submit" value="Save Orders" class="btn btn-outline-primary" style="border-radius: 60px;" />
        @Html.ActionLink("Add Product", "AddProduct", "Orders", new { }, new { @class = "btn btn-outline-warning  popup" })*@
                <a class="btn btn-outline-warning" style="border-radius: 60px;" asp-action="AddProduct" asp-controller="Orders"><i class="glyphicon glyphicon-saved"></i> Add New Order</a>
                    <a asp-action="IndexOrders" class="btn btn-outline-secondary" style="border-radius: 60px;"><i class="glyphicon glyphicon-arrow-left"></i> Back to List</a>
                    @*@Html.ActionLink("Back to Orders", "IndexOrders", new { }, new { @class = "btn btn-outline-dark" })*@
                </div>
            </div>
        </div>
    </div>
</form>
<hr />
<fieldset>
    <legend>Pending Order Detail</legend>
    @if (Model.Details.Count == 0)
    {
        <h5>No details added yet</h5>
    }
    else
    {
        <table class="display" id="example" style="width:100%">
            <thead align="Center">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Details[0].OrderCode)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Details[0].OrderDate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Details[0].ShortDescription)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Details[0].Price)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Details[0].Quantity)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Details[0].Value)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Details)
                {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.OrderCode)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.OrderDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ShortDescription)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Price)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Quantity)
                    </td>
                    <td align="right">
                        @Html.DisplayFor(modelItem => item.Value)
                    </td>
                    
                    <td>
                        <a asp-action="Increase" asp-route-id="@item.OrderDetailTmpId" class="btn btn-outline-warning" style="border-radius: 60px;"><i class="glyphicon glyphicon-plus"></i></a>
                        <a asp-action="Decrease" asp-route-id="@item.OrderDetailTmpId" class="btn btn-outline-dark" style="border-radius: 60px;"><i class="glyphicon glyphicon-minus"></i></a>
                        <a asp-action="DeletedTmp" asp-route-id="@item.OrderDetailTmpId" class="btn btn-outline-danger" style="border-radius: 60px;" onclick="return confirm('Are you sure you wish to delete this post?');"><i class="glyphicon glyphicon-off"></i> Delete</a>
                        @*@Html.ActionLink("Delete", "DeleteProduct", new { id = item.OrderDetailTmpId }, new { @class = "btn btn-outline-danger", onclick = "return confirm('¿ Are you sure to delete this records?');" })*@
                    </td>
                </tr>
                }
            </tbody>
            <tr>
                <td colspan="4" align="right">
                    <strong>Total</strong>
                </td>
                <td align="right">
                    <strong>@Html.DisplayFor(modelItem => Model.TotalQuantity)</strong>
                </td>
                <td align="right">
                    <strong>@Html.DisplayFor(modelItem => Model.TotalValue)</strong>
                </td>
            </tr>
        </table>
    }
</fieldset>

<partial name="_Modal" />

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript">
        $(function () {
            $('#datepicker').datetimepicker({ format: 'YYYY/MM/DD' });
        });
        $(document).ready(function () {

            $('#example').DataTable({
                "order": [[2, "desc"]],
                "lengthMenu": [[5, 10, 25, 50, -1], [5, 10, 25, 50, "All"]]
            });

            //$("body").on("click", "a.dialog-window", null, function (e) {
            //    e.preventDefault();
            //    var $link = $(this);
            //    var title = $link.text();
            //    $('#AddProduct .modal-title').html(title);
            //    var url = $(this).attr('href');
            //    if (url.indexOf('#') == 0) {
            //        $('#AddProduct').modal('show');
            //    }
            //    else {
            //        $.get(url, function (data) {
            //            $('#AddProduct .te').html(data);
            //            $('#AddProduct').modal();
            //        }).success(function () { $('input:text:visible:first').focus(); });
            //    }
            //});
        });
    </script>
}
