@model DisUserOrdersVModel
@{
    ViewData["Title"] = $"{"OrderDetails"}{Model.Debtor}";
}
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.min.css" />
<link rel="stylesheet" href="https://cdn.datatables.net/buttons/1.7.1/css/buttons.dataTables.min.css" />
<br />
<div class="container-fluid">
    <div class="row">
        <div class="col">
            <input asp-for="BusinessName" class="form-control" placeholder="Code Key" style="float: left;text-align: center;" readonly />
        </div>
        <div class="col">
            <input asp-for="Debtor" class="form-control" placeholder="Code Key" style="float: left;text-align: center;" readonly />
        </div>
        <div class="col">
            <input asp-for="FullName" class="form-control" placeholder="Code Key" style="float: left;text-align: center;" readonly />
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col">
            <input asp-for="DateLocal" class="form-control" placeholder="Code Key" style="float: left;text-align: center;" readonly />
        </div>
        <div class="col">
            <input asp-for="OrderStatus" class="form-control" placeholder="Code Key" style="float: left;text-align: center;" readonly />
        </div>
        <div class="col">
            <textarea asp-for="Observations" class="form-control" rows="5" cols="40" readonly></textarea>
        </div>
    </div>
</div>
<br />
<div class="container-fluid">
    <div class="card text-center border-secondary mb-3" style="max-width: 80rem;">
        <div class="card-header bg-transparent border-dark">
            <h1>Order Details</h1>
        </div>
        <div class="card-body text-secondary">
            <h5 class="card-title">Special title treatment</h5>
            @if (Model.DetailsOrders.Count == 0)
            {
                <h5>No details added yet</h5>
            }
            else
            {
                <table class="display" id="example" style="width:100%">
                    <thead>
                        <tr>
                            <th scope="col"> @Html.DisplayNameFor(model => model.DetailsOrders[0].Debtor)</th>
                            <th scope="col">@Html.DisplayNameFor(model => model.DetailsOrders[0].BusinessName)</th>
                            <th scope="col">@Html.DisplayNameFor(model => model.DetailsOrders[0].OrderDate)</th>
                            <th scope="col">@Html.DisplayNameFor(model => model.DetailsOrders[0].OrderStatus)</th>
                            <th scope="col">@Html.DisplayNameFor(model => model.DetailsOrders[0].PayofType)</th>
                            <th scope="col">@Html.DisplayNameFor(model => model.DetailsOrders[0].ShippingBranchNo)</th>
                            <th scope="col">@Html.DisplayNameFor(model => model.DetailsOrders[0].ShippingBranchName)</th>
                            <th scope="col">@Html.DisplayNameFor(model => model.DetailsOrders[0].ShortDescription)</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.DetailsOrders)
                        {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Debtor)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.BusinessName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.OrderDate)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.OrderStatus)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.PayofType)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ShippingBranchNo)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ShippingBranchName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ShortDescription)
                            </td>
                            <td>
                            </td>
                        </tr>
                        }
                    </tbody>
                </table>
            }
        </div>
        <div class="card-footer bg-transparent border-secondary">
            <a asp-action="IndexOrders" class="btn btn-outline-secondary"  style="border-radius: 60px;"><i class="glyphicon glyphicon-arrow-left" onclick="showPleaseWait();"></i> Back to List</a>
        </div>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.7.1/js/dataTables.buttons.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.7.1/js/buttons.html5.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.7.1/js/buttons.print.min.js"></script>


    <script type="text/javascript">
        $('#example').DataTable({
            "language": {
                "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Spanish.json"
            },
            "scrollX": true,
            dom: 'Bfrtip',
            buttons: [
                'excel'
            ],
            "order": [[2, "desc"]],
            "lengthMenu": [[5, 10, 25, 50, -1], [5, 10, 25, 50, "All"]]
        });</script>
}

